html {
  font-size: 18px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.desktop {
  display: block;
}

.flex-box {
  display: flex;
}
/* Header */

header {
  background-color: white;
  padding: 0 24px;
  align-items: center;
  height: 64px;
  position: fixed;
  z-index: 100;
  color: rgb(131,131,131);
  justify-content: space-between;
  top: 0px;
  right: 0px;
  left: 0px;
}

.bold {
  font-weight: bold;
  color:rgb(32,32,32);
}

.logo {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 16px;
}

a {
  color: rgb(131,131,131);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon-tray {
    display: flex;
    justify-content: space-around;
}

nav.mobile {
  width: 100%;
}

/* ============================*/
.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 710px) {
  .desktop {
      display: none;
  }

  .mobile {
    display: block;
  }
}
